[%# work around for CPAN's indexer, which gets disturbed by pod in templates -%]
[% head3 = BLOCK %]=head3[% END -%]
[% head3 %] [% operation.get_name %]

[%     type = definitions.find_portType( binding.expand( binding.get_type ) );
    port_op = type.find_operation( definitions.get_targetNamespace, operation.get_name );
port_op.get_documentation %]

 $interface->[% operation.get_name %]([% INCLUDE Interface/POD/Message.tt %] );
