[% IF (complexType.get_contentModel == 'simpleContent');
	THROW NOT_IMPLEMENTED, "${ element.get_name } - complexType simpleContent not implemented yet";
ELSIF (complexType.get_contentModel == 'complexContent');
	INCLUDE complexType/complexContent.tt(complexType = complexType);
ELSE;
	INCLUDE complexType/variety.tt(complexType = complexType);
END %]
