[% IF (base=complexType.get_base);
    base_name=complexType.expand(base);
-%]
use base qw([% XSD.get_type_prefix(base_name.0) %]::[% base_name.1.replace('\.', '::') %]);
[%
ELSE;
    THROW NOT_IMPLEMENTED, "restriction without base not supported";
END %]